---
const personalImageAlt = "Alejandro Padilla"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/alejandro.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/alejandro-padillaa/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Alejandro
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
     Con gran base en <strong>Backend Developer & Linux Enthusiast </strong>
     con gran domino entornos Linux, arquitecturas backend y desarrollo web, con más de 3 años de experiencia práctica en proyectos personales 
     y de aprendizaje. 
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:alejandro.padillaa00@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/alejandro-padillaa/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/alejpaa" target="_blank" rel="noopener">
      <!-- Puedes agregar un ícono de GitHub si tienes uno, por ejemplo: -->
      <GitHub class="size-4" />
        GitHub
    </SocialPill>
  </nav>
</div>
